@model BTL3_MVT.Models.PersonDTO

@{
    ViewData["Title"] = "Edit";
}
<h1>Create</h1>

<div class="container-fluid">
    <div class="header row">
        <div class="col-2 item">
            <span>CHỌN BỆNH: SÔT RÉT</span>
        </div>
        <div class="col-2 item title-active">
            <span>THÔNG TIN CHUNG</span>
        </div>
        <div class="col-2 item">
            <span>THÔNG TIN XÉT NGHIỆM VÀ CHUẨN ĐOÁN</span>
        </div>
        <div class="col-2 item">
            <span>THÔNG TIN ĐIỀU TRỊ</span>
        </div>
        <div class="col-2 item">
            <span>TIỀN SỬ DỊCH TỄ</span>
        </div>
        <div class="col-2 item">
            <span>THÔNG TIN NGƯỜI BÁO CÁO</span>
        </div>
    </div>
    <form method="post" action="/Person/Edit">
        <input type="hidden" asp-for="PersonId" />
        <div class="content">
            <div>
                <span>
                    MÃ SỐ TRƯỜNG HỢP BỆNH:
                </span>
            </div>
            <div class="form-group">

                <div class="row">
                    <div class="input col-3 ">
                        <p>[1] Họ và tên bệnh nhân(<span class="required">*</span>)</p>
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @type = "text"} })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                    <div class="input col-2">
                        <p>[2] Ngày sinh(<span class="required">*</span>)</p>
                        @Html.EditorFor(model => model.BirthDay, new { htmlAttributes = new { @class = "form-control", onchange = "calculateAge()" } })
                        @Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "text-danger" })
                    </div>
                    <div class="input col-1">
                        <p>Tuổi</p>
                        <input class="form-control" id="Age" readonly></input>
                    </div>
                    <div class="input col-3">
                        <p>[3] Giới tính(<span class="required">*</span>)</p>
                        @Html.RadioButtonFor(model => model.Gender, "Nam", new { id = "GenderMale" })<span> Nam</span>
                        @Html.RadioButtonFor(model => model.Gender, "Nữ", new { id = "GenderFemale",style="margin-left:5px;" })<span> Nữ <br></span>
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                    <div class="input col-3">
                        <p>[4] Nghề nghiệp(<span class="required">*</span>)</p>
                        <select class="form-control select2" name="WorkId" id="WorkId">
                            <option value="@ViewBag.Work.WorkId">@ViewBag.Work.WorkName</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.WorkId, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="row">
                    <div class="input col-3">
                        <p>[5] Dân tộc(<span class="required">*</span>)</p>
                        <select class="form-control select2" name="EthnicityId" id="EthnicityId">
                            <option value="@ViewBag.Ethnicity.EthnicityId">@ViewBag.Ethnicity.EthnicityName</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.EthnicityId, "", new { @class = "text-danger" })
                    </div>
                    <div class="input col-3">
                        <p>[6] Số CMND/CCCD/Hộ chiếu</p>
                        @Html.EditorFor(model => model.IdentityCard, new { htmlAttributes = new { @class = "form-control", @type = "number"} })
                        @Html.ValidationMessageFor(model => model.IdentityCard, "", new { @class = "text-danger" })
                        <div style="display: flex;">
                            <input type="checkbox" name="NoIdentityCard" id="NoIdentityCard" style="margin-right: 5px;">
                            <span>Không khai thác được CMND</span>
                        </div>
                    </div>
                    <div class="input col-3">
                        <p>[7] Số điện thoại</p>
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @type = "number"} })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        <div style="display: flex;">
                            <input type="checkbox" name="NoPhoneNumber" id="NoPhoneNumber" style="margin-right: 5px;">
                            <span>Không khai thác được số điện thoại</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <span style="margin-bottom: -15px;" class="col-12">[8] Địa chỉ nơi ở hiện nay</span>
                    <div class="input col-3">
                        <p>Tỉnh, Thành Phố(<span class="required">*</span>)></p>
                        <select class="form-control select2" name="CityId" id="CityId">
                            <option value="@ViewBag.City.CityId">@ViewBag.City.CityName</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                    </div>
                    <div class="input col-3">
                        <p>Huyện(<span class="required">*</span>)</p>
                        <select class="form-control js-example-basic-multiple select2" name="DistrictId" id="DistrictId">
                            <option value="@ViewBag.District.DistrictId">@ViewBag.District.DistrictName</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.DistrictId, "", new { @class = "text-danger" })
                    </div>
                    <div class="input col-3">
                        <p>Xã(<span class="required">*</span>)</p>
                        <select class="form-control select2" name="WardId" id="WardId">
                            <option value="@ViewBag.Ward.WardId">@ViewBag.Ward.WardName</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.WardId, "", new { @class = "text-danger" })
                    </div>
                    <div class="input col-3">
                        <p>Địa chỉ cụ thể(<span class="required">*</span>)</p>
                        @Html.EditorFor(model => model.SpecificAddress, new { htmlAttributes = new { @class = "form-control", @type = "text"} })
                        @Html.ValidationMessageFor(model => model.SpecificAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <span class="col-12">[9] Địa chỉ nơi làm việc/học tập</span>
                    <div class="col-12">
                        <input type="checkbox" id="CopyAddressCheckbox" style="width: 1%;">
                        <p style="margin: 5px; display: inline;">Như trên, Copy địa chỉ hiện nay</p>
                    </div>
                    <div class="input col-3">
                        <p>Tỉnh, Thành Phố(<span class="required">*</span>)</p>
                        <select class="form-control" name="WorkCityId" id="WorkCityId">
                            <option value="@ViewBag.WorkCity.CityId">@ViewBag.WorkCity.CityName</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.WorkCityId, "", new { @class = "text-danger" })
                    </div>
                    <div class="input col-3">
                        <p>Huyện(<span class="required">*</span>)</p>
                        <select class="form-control" name="WorkDistrictId" id="WorkDistrictId">
                            <option value="@ViewBag.WorkDistrict.DistrictId">@ViewBag.WorkDistrict.DistrictName</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.WorkDistrictId, "", new { @class = "text-danger" })
                    </div>
                    <div class="input col-3">
                        <p>Xã(<span class="required">*</span>)</p>
                        <select class="form-control" name="WorkWardId" id="WorkWardId">
                            <option value="@ViewBag.WorkWard.WardId">@ViewBag.WorkWard.WardName</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.WorkWardId, "", new { @class = "text-danger" })
                    </div>
                    <div class="input col-3">
                        <p>Địa chỉ cụ thể(<span class="required">*</span>)</p>
                        @Html.EditorFor(model => model.WorkSpecificAddress, new { htmlAttributes = new { @class = "form-control", @type = "text"} })
                        @Html.ValidationMessageFor(model => model.WorkSpecificAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="row" style="margin-top:20px;">
                <span class="col-9">Lưu ý: Các trường có dấu (<span class="required">*</span>) là bắt buộc nhập.</span>
                <button asp-action="Index" class="col-1 mr-5 back" style="height: 50px;width: 100px;">
                    Quay Lại
                </button>
                <button type="submit" class="col-1" style="height: 50px;width: 100px;margin-left: 10px">Lưu và tiếp tục</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

